*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(../static/foot3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    box-shadow: 2px 6px 100px #ffffff;
}